<!-- 
  @var currentNotObserved?: boolean
  @var currentTab?:         chrome.tabs.Tab
  @var observedTabs:        TabInfo[]
-->
<div id="map-container" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <div class="container">
          <div class="row">
            <div class="col">
              <h3>Pick the states</h3>
            </div>
            <div class="col text-right">
              <button class="btn btn-secondary states-clear-btn">Clear</button>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="inner-container mx-auto" style="width: 400px; height: 300px;"></div>
        <div class="alert alert-success selected-states"></div>
      </div>
      <div class="modal-footer">
        <div class="text-right">
          <button type="button" class="btn btn-primary mr-2 states-cancel-btn">Cancel</button>
          <button type="button" class="btn btn-primary states-apply-btn">Apply</button>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal-backdrop fade" style="display: none"></div>

<div id="settings-container" class="container my-2">
  <div class="row">
    <h1 class="h2 mt-4 mx-auto text-center text-primary">
      Welcome To Relay Automation!
    </h1>
  </div>
  <div class="row">
    <h2 class="h4 mt-2 mx-auto text-center text-secondary">
      Configure the extension and start booking automatically
    </h2>
  </div>
  <hr />
  {{ #currentNotObserved }}
    <div class="row">    
      <span class="text-secondary d-block mx-auto">The current tab is not observed!</span>
    </div>
    <div class="row">
      <button 
        id="addCurrentButton" 
        type="button" 
        class="mt-1 mb-2 btn btn-primary px-4 mx-auto" 
        data-tab-id={{ currentTab.id }}>Add the button to observed list with id: {{ currentTab.id }}</button>
    </div>
  {{ /currentNotObserved }}
  <div class="row">
    {{ #observedTabs }}
      <div class="col mb-2">
        <div class="p-2">
          <h5>Tab Id: {{ id }}</h5>
          <span>Status: {{ status }} 
            {{ #isFound }}<span class="mark mark-success"></span>{{ /isFound }}
          </span>
          <div>
            {{#printInfo.loadId}}
              <button class="btn btn-primary w-100 tab-print-btn mt-1" data-tab-id={{ id }}>Print</button>
            {{/printInfo.loadId}}
            <div class="filters mt-1">
              <form id="filtersForm">
                <hr />
                <div class="form-group">
                  <label>Stops Count Filter
                    {{#filters.stopsCount}}<span class="mark mark-success"></span> <span>({{.}})</span>{{/filters.stopsCount}}
                  </label>
                  <input data-tab-id={{ id }} name="stops-count-filter" class="form-control" type="number" value={{filters.stopsCount}} min=1 max=20 />
                  <small class="form-text text-muted">Insert the max number of stops inclusively.</small>
                </div>
                <hr />
                <div class="form-group">
                  <button type="button" data-tab-id={{ id }} class="btn with-logs {{#filters.withLogs}}btn-primary{{/filters.withLogs}}{{^filters.withLogs}}btn-outline-primary{{/filters.withLogs}}">With Logs</button>
                </div>
                <hr />
                <div class="form-group">
                  <label>
                    Origin states&nbsp;
                        {{^filters.originStatesFilter.length}}<span class="mark mark-warning"></span> (Not given){{/filters.originStatesFilter.length}}
                        {{#filters.originStatesFilter.length}}<span class="mark mark-success"></span>{{/filters.originStatesFilter.length}}
                  </label>
                  <div class="card w-100">
                    <div class="card-body">
                      {{^filters.originStatesFilter.length}}
                        <h5 class="card-title">
                          No states selected
                        </h5>
                      {{/filters.originStatesFilter.length}}
                      {{#filters.originStatesFilter}}
                        <div class="my-1 border p-2">
                          <h5 class="card-title">{{stateName}}</h5>
                          <div class="form-group">
                            <input class="form-control mt-1" data-tab-id="{{ id }}" data-state-name="{{ stateName }}" name="origin-city-name" type="text" value="{{ city }}" placeholder="Select city name" />
                            <small class="form-text text-muted">
                              Insert Origin City Filter&nbsp;
                              {{^city}}<span class="mark mark-warning"></span>{{/city}}
                              {{#city}}<span class="mark mark-success"></span>{{/city}}
                            </small>

                            <input class="mt-1 form-control" data-tab-id="{{ id }}" placeholder="radius" data-state-name="{{ stateName }}" name="origin-state-radius" type="number" value="{{ radius }}" />
                            <small class="form-text text-muted">
                              Insert Radius&nbsp;
                              {{^radius}}<span class="mark mark-warning"></span>{{/radius}}
                              {{#radius}}<span class="mark mark-success"></span>{{/radius}}
                            </small>

                            <input class="mt-1 form-control" data-tab-id="{{ id }}" data-state-name="{{ stateName }}" name="origin-state-date-till" type="datetime-local" value="{{ time }}" />      
                            <small>
                              https://www.timeanddate.com/worldclock/converter.html
                            </small>
                            <small class="form-text text-muted">
                              Insert Date Till Filter For Current State&nbsp;
                              {{^time}}<span class="mark mark-warning"></span>{{/time}}
                              {{#time}}<span class="mark mark-success"></span>{{/time}}
                            </small>
                          </div>
                        </div>
                      {{/filters.originStatesFilter}}
                      <button data-tab-id="{{ id }}" type="button" class="btn btn-primary origin-states-btn">Edit</button>
                      <button data-tab-id="{{ id }}" type="button" class="btn btn-secondary ml-1 origin-states-clean-btn">Clean</button>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="form-group">
                  <label>
                    Destination states&nbsp;
                        {{^filters.destinationStatesFilter.length}}<span class="mark mark-warning"></span> (Not given){{/filters.destinationStatesFilter.length}}
                        {{#filters.destinationStatesFilter.length}}<span class="mark mark-success"></span>{{/filters.destinationStatesFilter.length}}
                  </label>
                  <div class="card w-100">
                    <div class="card-body">
                      <h5 class="card-title">
                        {{^filters.destinationStatesFilter.length}}No states selected{{/filters.destinationStatesFilter.length}}
                        {{#filters.destinationStatesFilter}}
                          <span>{{.}} </span>
                        {{/filters.destinationStatesFilter}}
                      </h5>
                      <button data-tab-id="{{ id }}" type="button" class="btn btn-primary destination-states-btn">Edit</button>
                      <button data-tab-id="{{ id }}" type="button" class="btn btn-secondary ml-1 destination-states-clean-btn">Clean</button>
                    </div>
                  </div>
                </div>
                <hr />
                <div class="form-group">
                  <div class="card">
                    <div class="card-body">
                      <h5 class="card-title">
                        Auto Book
                      </h5>
                      <div class="card-text">
                        <div class="custom-control custom-switch">
                          <input data-tab-id="{{ id }}" type="checkbox" class="custom-control-input auto-book-checkbox" name="auto-book" {{#filters.autoBook}}checked="checked"{{/filters.autoBook}}>
                          <label data-tab-id="{{ id }}" class="custom-control-label auto-book-checkbox" for="auto-book">
                            {{#filters.autoBook}}Enabled{{/filters.autoBook}}
                            {{^filters.autoBook}}Disabled{{/filters.autoBook}}
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <hr />
            <div class="actions row row-col-2 mt-2">
              <div class="w-100 text-center mb-2">Search</div>
              <div class="col">
                <button class="btn btn-primary w-100 tab-start-btn" data-tab-id={{ id }}
                  {{#searchStatus}}disabled="disabled" title="Already Searching"{{/searchStatus}}
                >Start</button>
              </div>
              <div class="col">
                <button class="btn btn-primary w-100 tab-stop-btn" data-tab-id={{ id }} 
                  {{^searchStatus}}disabled="disabled"{{/searchStatus}}
                >Stop</button>
              </div>
            </div>
            <hr />
            <button class="btn btn-primary w-100 tab-remove-btn" data-tab-id={{ id }}
              {{#searchStatus}}disabled="disabled" title="Please stop the search before remove"{{/searchStatus}}
            >Remove</button>
          </div>
        </div>
      </div>
    {{ /observedTabs }}
  </div>
</div>
